</br>
<center>
   {{!-- about company section starts here  --}}
   <div class="row">
      {{!-- company overview card --}}
      <div class="col-sm-4">
         <div class="card border-secondary mb-3" style="max-width: 30rem;">
            <div class="card-header">{{stock.companyName}} ({{stock.symbol}})</div>
            <div class="card-body text-info">
               <h5 class="card-title">{{comapny.symbol}}</h5>
               <button type="button" class="btn btn-success" data-toggle="modal" data-target="#companyDescription">About {{stock.companyName}}</button>
               <p class="card-text"></p>
            </div>
         </div>
      </div>
      {{!-- company overview card ends here --}}
      {{!-- company stock overview card --}}
      <div class="col-sm-8">
         <div class="card border-info mb-3" style="max-width: 60rem;">
            <div class="card-header">Stock Portfolio of {{stock.companyName}}</div>
            <div class="card-body text-info">
               <h5 class="card-title"></h5>
               <p class="card-text"><strong >Primary Exchange: </strong>{{stock.primaryExchange}}</p>
               <p class="card-text"></p>
               <strong>Latest Date: </strong>{{stock.latestTime}}</p>
               <p class="card-text"></p>
               <strong>Latest Price: </strong>${{stock.latestPrice}}</p>
               <p class="card-text"></p>
               <strong>Previous Close: </strong>${{stock.previousClose}}</p>
               <p class="card-text"></p>
               <strong>Percent Change: </strong>{{stock.changePercent}}%</p>
               <p class="card-text"></p>
               <strong>High Time (15 min delayed price): </strong>{{stock.highTime}}</p>
               <p class="card-text"></p>
               <strong>Low Time (15 min delayed price): </strong>{{stock.lowTime}}</p>   
               <p class="card-text"></p>
               <strong>Market Cap: </strong>{{stock.marketCap}}</p>
               <p class="card-text"></p>
               <strong>YTD Change: </strong>{{stock.ytdChange}}%</p> <!-- need to do *100 here -->
               <p class="card-text"></p>
               <strong>52-wk high: </strong>{{stock.week52High}}</p>
               <p class="card-text"></p>
               <strong>52-wk low: </strong>{{stock.week52Low}}</p>
               <p class="card-text"></p>
               <strong>P/E ratio: </strong>{{stock.peRatio}}</p>
               <p class="card-text"></p>
               <strong>High Time: </strong>{{stock.highTime}}</p>
               <p class="card-text"></p>
               <strong>Low Time: </strong>{{stock.lowTime}}</p>
            </div>
         </div>
         <h1> </h1>
         </br>
      </div>
      {{!-- comapny stock overview card ends here  --}}
   </div>
   </br>
</center>

{{!-- company description modal --}}
<div class="modal fade" id="companyDescription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About {{stock.companyName}} ({{stock.symbol}})</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{company.description}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>{{!-- company description modal ends here --}}